
<div class="row">
    <div class="col-md-8">     
      <h1>About Website</h1>
      <h3>Intended User's</h3>
        <p>
          Employers. Also, family and friends so that you have some idea of what I do professionally.
        </p>
      <h3>Logging In</h3>
        <p>
        You must use your google login/passwd. No worries, this website is just using goggle's
        free login facility. Even if you don't login, you can still browse items and add
        them to your shopping cart. It is only when you "check out" that you will need
        to login.
        </p>
      <h3>Using website</h3>
        <p>
        Navigate and click on what ever you want. If this website in not easily navigated,
        then I failed at making it simple because that's how good websites should function.
        Also, no worries when you "place order", the website does nothing other
        than saying that your order was a success. Nothing is charged to you because
        I did not build that into this website. Just think of it as pretending to buy something.
        </p>
      <h3>Technical's of website</h3>
        <p>
        This website was written in Angular 6 typeScript. It uses a Firebase realtime NoSQL database;
        although I'm used to relational databases/SQL which have a RESTful/JSON (CRUD) API.<br>
        This website also uses Bootstrap 4 components and Font Awesome icons, as well as some other
        software that you can see in the package.json depencies from the sourse code for this website
        that is stored in GitHub at URL: https://github.com/jerry-carney/jerry-shop <br>
        <a class="nav-link" href="https://github.com/jerry-carney/jerry-shop">Source Code</a>
        </p>
        <p>
          This website also has some cool admin capabilities which I can grant you permissions
          via your request.        
        </p>
    </div>
  
  
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src='https://i.imgur.com/BPoUjpV.jpg' alt="">
            <div class="card-body">
                <h5 class="card-title">Author</h5>
                <p class="card-text">Jerry Carney<br>Senior Software Engineer</p>
                <a class="nav-link" href="https://www.linkedin.com/in/jerry-carney-72266958/">Jerry Carney's professional credentials</a>
                <i>[hold down Cntl key while clicking above link to create a new tab]</i>      
            </div>
        </div>
    </div>
</div>
